.stable_design {
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
}

.stable_design th, .stable_design td {
  padding: 1em;
}

.stable_design th {
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  background-color: #cfe2ff;
  text-align: left;
  width: 140px;
}

.stable_design td {
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  width: 260px;
}

.instrument-show {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.btn-menu {
  display: flex;
  margin: 20px 0 0 40px;
}

.btn-inspection {
  margin-right: 20px;
}

.info_date {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
}

.inspection-items {
  border-collapse: collapse;
  margin-bottom: 45px;
}

.inspection-items th, .inspection-items td {
  padding: 1em;
}

.inspection-items th {
  background-color: #cfe2ff;
  text-align: left;
}

.inspection-items td {
  border-bottom: 1px solid #BBBBBB;
}

th.head-item {
  width: 100%;
}

.form-control {
  height: 40px;
  width: 150px;
}

.col-md-6 {
  margin-right: 20px;
}

.add-item {
  display: flex;
}