header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Black Ops One", system-ui;
  background-color: white;
}

header h1 {
  font-size: 50px;
  color: #CC0066;
  padding: 10px 0 0 40px;
}

.user-info {
  padding-right: 40px;
}