.sidebar {
  margin-top: 40px;
}

.sidebar-lists {
  width: 200px;
  background-color: #444444;
  color: white;
  transition: width 0.3s ease, margin-left 0.3s ease;
}

.sidebar-lists.collapsed {
  margin-left: -200px;
}

.sidebar-toggle {
  background-color: #333333;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.sidebar-toggle:hover {
  background-color: #555555;
}

.sidebar-lists nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-lists nav ul li {
  padding: 15px;
}

.sidebar-lists li:hover{
  transform: translate(5px, -5px);
  background-color: #CC0066;
}

.sidebar-lists nav ul li a {
  color: white;
  text-decoration: none;
}



