<% if model.errors.any? %>
<div class="error-alert">
  入力内容に誤りがあります
  <ul>
    <% model.errors.full_messages.each do |message| %>
    <li class="error-message"><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>