<header>
  <h1><%= link_to 'UNiFY', root_path %></h1>
  <div class="user-info">
    <% if user_signed_in? %>
      <%= link_to "#{current_user.last_name + " " + current_user.first_name + "（" + current_user.role + "）" }", users_path, class: "user-name" %>
    <% else %>
      <%= link_to 'ユーザー登録', new_user_registration_path, class: "sign-up" %>
    <% end %>
  </div>
</header>