<div class="sidebar">
  <button class="sidebar-toggle", id="sidebarToggle">≡</button>
  <aside class="sidebar-lists", id="sidebar-lists">
    <nav>
      <ul>
        <li><a href="#">トップページ</a></li>
        <li><%= link_to "計測器新規登録", new_instrument_path, class: "register" %></li>
        <li><a href="#">開発中</a></li>
        <li><a href="#">開発中</a></li>
        <li><a href="#">開発中</a></li>
        <li><a href="#">開発中</a></li>
      </ul>
    </nav>
  </aside>
</div>
