<h2>点検履歴</h2>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="table-info">
      <tr>
        <th>No.</th>
        <th>点検結果</th>
        <th>備考</th>
        <th>点検日時</th>
      </tr>
    </thead>
    <tbody>
      <% @instrument.inspection_results.each_with_index do |result, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= result.result %></td>
          <td><%= result.remarks %></td>
          <td><%= result.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>