<table class="table_design04">
  <tbody>
    <tr>
      <th>会社名</th>
      <td>○○株式会社</td>
    </tr>
    <tr>
      <th>設立</th>
      <td>20XX年X月X日</td>
    </tr>
    <tr>
      <th>住所</th>
      <td>東京都○○区△△町</td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td>00-0000-00000</td>
    </tr>
  </tbody>
</table>